html,
body {
    height: 100%;
}

html {
    padding: 50px;
}

.grid {

}

.container {
    padding: 0;
    margin: auto;
    border: 1px solid black;
    height: 802px;
    width: 802px;
    display: flex;
    flex-wrap: wrap;
}