html,
body {
    height: 100%;
}

html {
    padding: 50px;
}

.grid {
    flex: auto;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.grid:hover {
    background-color: red;
}

.container {
    padding: 0;
    margin: auto;
    border: 1px solid black;
    height: 802px;
    width: 802px;
    display: flex;
    flex-wrap: wrap;
}