html, body{
    height: 100%;
}

html {
    padding: 50px;
}

.grid {

}
.container {
    padding: 0;
    margin: auto;
    border: 1px solid black;
    height: 800px;
    width: 800px;
    display: flex;
}